footer(role='contentinfo')
  .clearfix
    ul.list-unstyled.list-inline.pull-left
      li
        h6(style='margin: 0;') ® Matheus Rafael </>  + layoutcode 2017 Voidming.org  ©
    button#back-to-top.pull-right.btn.btn-link.btn-xs.hidden-print
      i.ti.ti-arrow-up
