meta(charset='utf-8')
title Matheus Rafael .com
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='apple-touch-fullscreen', content='yes')
meta(name='description', content='Matheus Rafael')
meta(name='author', content='voidp34r')
link(type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600', rel='stylesheet')
link(type='text/css', href='assets/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet')
// Font Awesome
link(type='text/css', href='assets/fonts/themify-icons/themify-icons.css', rel='stylesheet')
// Themify Icons
link(type='text/css', href='assets/css/styles.css', rel='stylesheet')
// Core CSS with all styles
link(type='text/css', href='assets/plugins/codeprettifier/prettify.css', rel='stylesheet')
// Code Prettifier
link(type='text/css', href='assets/plugins/iCheck/skins/minimal/blue.css', rel='stylesheet')
// iCheck
//if lt IE 10
  script(type='text/javascript', src='assets/js/media.match.min.js')
  script(type='text/javascript', src='assets/js/respond.min.js')
  script(type='text/javascript', src='assets/js/placeholder.min.js')
// The following CSS are included as plugins and can be removed if unused
link(type='text/css', href='assets/plugins/fullcalendar/fullcalendar.css', rel='stylesheet')
// FullCalendar
link(type='text/css', href='assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css', rel='stylesheet')
// jVectorMap
link(type='text/css', href='assets/plugins/switchery/switchery.css', rel='stylesheet')
// Switchery
