// Switcher
.demo-options
  .demo-options-icon
    i.ti.ti-paint-bucket
  .demo-heading Configurações
  .demo-body
    .tabular
      .tabular-row
        .tabular-cell Fixed Header
        .tabular-cell.demo-switches
          input.bootstrap-switch(type='checkbox', checked='', data-size='mini', data-on-color='success', data-off-color='default', name='demo-fixedheader', data-on-text=' ', data-off-text=' ')
      .tabular-row
        .tabular-cell Boxed Layout
        .tabular-cell.demo-switches
          input.bootstrap-switch(type='checkbox', data-size='mini', data-on-color='success', data-off-color='default', name='demo-boxedlayout', data-on-text=' ', data-off-text=' ')
      .tabular-row
        .tabular-cell Collapse Leftbar
        .tabular-cell.demo-switches
          input.bootstrap-switch(type='checkbox', data-size='mini', data-on-color='success', data-off-color='default', name='demo-collapseleftbar', data-on-text=' ', data-off-text=' ')
  .demo-body
    .option-title Topnav
    ul#demo-header-color.demo-color-list
      li
        span.demo-cyan
      li
        span.demo-light-blue
      li
        span.demo-blue
      li
        span.demo-indigo
      li
        span.demo-deep-purple
      li
        span.demo-purple
      li
        span.demo-pink
      li
        span.demo-red
      li
        span.demo-teal
      li
        span.demo-green
      li
        span.demo-light-green
      li
        span.demo-lime
      li
        span.demo-yellow
      li
        span.demo-amber
      li
        span.demo-orange
      li
        span.demo-deep-orange
      li
        span.demo-midnightblue
      li
        span.demo-bluegray
      li
        span.demo-bluegraylight
      li
        span.demo-black
      li
        span.demo-gray
      li
        span.demo-graylight
      li
        span.demo-default
      li
        span.demo-brown
  .demo-body
    .option-title Sidebar
    ul#demo-sidebar-color.demo-color-list
      li
        span.demo-cyan
      li
        span.demo-light-blue
      li
        span.demo-blue
      li
        span.demo-indigo
      li
        span.demo-deep-purple
      li
        span.demo-purple
      li
        span.demo-pink
      li
        span.demo-red
      li
        span.demo-teal
      li
        span.demo-green
      li
        span.demo-light-green
      li
        span.demo-lime
      li
        span.demo-yellow
      li
        span.demo-amber
      li
        span.demo-orange
      li
        span.demo-deep-orange
      li
        span.demo-midnightblue
      li
        span.demo-bluegray
      li
        span.demo-bluegraylight
      li
        span.demo-black
      li
        span.demo-gray
      li
        span.demo-graylight
      li
        span.demo-default
      li
        span.demo-brown