header#topnav.navbar.navbar-default.navbar-fixed-top(role='banner')
  .logo-area
    span#trigger-sidebar.toolbar-trigger.toolbar-icon-bg
      a(data-toggle='tooltips', data-placement='right', title='Toggle Sidebar')
        span.icon-bg
          i.ti.ti-menu
    a.navbar-brand(href='/') Void
    #toolbar-search.toolbar-icon-bg.hidden-xs
      .input-group
        span.input-group-btn
          button.btn(type='button')
            i.ti.ti-search
        input.form-control(type='text', placeholder='Buscar...')
        span.input-group-btn
          button.btn(type='button')
            i.ti.ti-close
  // logo-area
  ul.nav.navbar-nav.toolbar.pull-right
    li#trigger-toolbar-search.toolbar-icon-bg.visible-xs-block
      a(href='#')
        span.icon-bg
          i.ti.ti-search
    li.toolbar-icon-bg.hidden-xs
      a(href='#')
        span.icon-bg
          i.ti.ti-world
    li.toolbar-icon-bg.hidden-xs
      a(href='#')
        span.icon-bg
          i.ti.ti-view-grid
    li#trigger-fullscreen.toolbar-icon-bg.hidden-xs
      a.toggle-fullscreen(href='#')
        span.icon-bg
          i.ti.ti-fullscreen
    if (!user)
      li.dropdown.toolbar-icon-bg
        a.dropdown-toggle.username(href='#', data-toggle='dropdown')
          span.icon-bg
            i.ti.ti-user
        ul.dropdown-menu.userinfo.arrow
          li
            a(href='/login')
              i.ti.ti-user
              span Login
          li.divider
          li
            a(href='/logout')
              i.ti.ti-shift-right
              span Sign Out
    if (user)
      li.dropdown.toolbar-icon-bg.hidden-xs
        a.hasnotifications.dropdown-toggle(href='#', data-toggle='dropdown')
          span.icon-bg
            i.ti.ti-email
          span.badge.badge-deeporange 2
        .dropdown-menu.notifications.arrow
          .topnav-dropdown-header
            span Messages
          .scroll-pane
            ul.media-list.scroll-content
              li.media.notification-message
                a(href='#')
                  .media-left
                    img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                  .media-body
                    h4.notification-heading
                      strong Vincent Keller
                      span.text-gray ‒ Design should be ...
                    span.notification-time 2 mins ago
              li.media.notification-message
                a(href='#')
                  .media-left
                    img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                  .media-body
                    h4.notification-heading
                      strong Frend Pratt
                      span.text-gray ‒ I will start with the ...
                    span.notification-time 40 mins ago
              li.media.notification-message
                a(href='#')
                  .media-left
                    img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                  .media-body
                    h4.notification-heading
                      strong Cynthia Hines
                      span.text-gray ‒ Interior bits are ...
                    span.notification-time 6 hours ago
              li.media.notification-message
                a(href='#')
                  .media-left
                    img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                  .media-body
                    h4.notification-heading
                      strong Robin Horton
                      span.text-gray ‒ Are you even ...
                    span.notification-time 8 days ago
              li.media.notification-message
                a(href='#')
                  .media-left
                    img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                  .media-body
                    h4.notification-heading
                      strong Amanda Torrez
                      span.text-gray ‒ The message is ...
                    span.notification-time 16 hours ago
              li.media.notification-message
                a(href='#')
                  .media-left
                    img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                  .media-body
                    h4.notification-heading
                      strong Khan Farhan
                      span.text-gray ‒ Expected the stuff ...
                    span.notification-time 2 days ago
              li.media.notification-message
                a(href='#')
                  .media-left
                    img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                  .media-body
                    h4.notification-heading
                      strong Will Whedon
                      span.text-gray ‒ The movie of this ...
                    span.notification-time 4 days ago
          .topnav-dropdown-footer
            a(href='#') See all messages
      li.dropdown.toolbar-icon-bg
        a.hasnotifications.dropdown-toggle(href='#', data-toggle='dropdown')
          span.icon-bg
            i.ti.ti-bell
          span.badge.badge-deeporange 2
        .dropdown-menu.notifications.arrow
          .topnav-dropdown-header
            span Notifications
          .scroll-pane
            ul.media-list.scroll-content
              li.media.notification-success
                a(href='#')
                  .media-left
                    span.notification-icon
                      i.ti.ti-check
                  .media-body
                    h4.notification-heading Update 1.0.4 successfully pushed
                    span.notification-time 8 mins ago
              li.media.notification-info
                a(href='#')
                  .media-left
                    span.notification-icon
                      i.ti.ti-check
                  .media-body
                    h4.notification-heading Update 1.0.3 successfully pushed
                    span.notification-time 24 mins ago
              li.media.notification-teal
                a(href='#')
                  .media-left
                    span.notification-icon
                      i.ti.ti-check
                  .media-body
                    h4.notification-heading Update 1.0.2 successfully pushed
                    span.notification-time 16 hours ago
              li.media.notification-indigo
                a(href='#')
                  .media-left
                    span.notification-icon
                      i.ti.ti-check
                  .media-body
                    h4.notification-heading Update 1.0.1 successfully pushed
                    span.notification-time 2 days ago
              li.media.notification-danger
                a(href='#')
                  .media-left
                    span.notification-icon
                      i.ti.ti-arrow-up
                  .media-body
                    h4.notification-heading Initial Release 1.0
                    span.notification-time 4 days ago
          .topnav-dropdown-footer
            a(href='#') See all notifications
      li.dropdown.toolbar-icon-bg
        a.dropdown-toggle.username(href='#', data-toggle='dropdown')
          img.img-circle(src='/images/user_160x160.jpg', alt='')
        ul.dropdown-menu.userinfo.arrow
          li
            a(href='#/')
              i.ti.ti-user
              span Profile
              span.badge.badge-info.pull-right 80%
          li
            a(href='#/')
              i.ti.ti-panel
              span Account
          li
            a(href='#/')
              i.ti.ti-settings
              span Settings
          li.divider
          li
            a(href='#/')
              i.ti.ti-stats-up
              span Earnings
          li
            a(href='#/')
              i.ti.ti-view-list-alt
              span Statement
          li
            a(href='#/')
              i.ti.ti-money
              span Withdrawals
          li.divider
          li
            a(href='/logout')
              i.ti.ti-shift-right
              span Sign Out