doctype html
html(lang='pt-BR')
  head
    meta(charset='utf-8')
    title Matheus Rafael .com
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-touch-fullscreen', content='yes')
    meta(name='description', content='Matheus Rafael')
    meta(name='author', content='voidp34r')
    link(type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600', rel='stylesheet')
    link(type='text/css', href='assets/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // Font Awesome
    link(type='text/css', href='assets/fonts/themify-icons/themify-icons.css', rel='stylesheet')
    // Themify Icons
    link(type='text/css', href='assets/css/styles.css', rel='stylesheet')
    // Core CSS with all styles
    link(type='text/css', href='assets/plugins/codeprettifier/prettify.css', rel='stylesheet')
    // Code Prettifier
    link(type='text/css', href='assets/plugins/iCheck/skins/minimal/blue.css', rel='stylesheet')
    // iCheck
    //if lt IE 10
      script(type='text/javascript', src='assets/js/media.match.min.js')
      script(type='text/javascript', src='assets/js/respond.min.js')
      script(type='text/javascript', src='assets/js/placeholder.min.js')
    // The following CSS are included as plugins and can be removed if unused
  body.horizontal-nav.animated-content
    #wrapper
      header#topnav.navbar.navbar-default.navbar-fixed-top(role='banner')
        .logo-area
          a.navbar-brand(href='index.html') Avenxo
          #toolbar-search.toolbar-icon-bg.hidden-xs
            .input-group
              span.input-group-btn
                button.btn(type='button')
                  i.ti.ti-search
              input.form-control(type='text', placeholder='Search...')
              span.input-group-btn
                button.btn(type='button')
                  i.ti.ti-close
        // logo-area
        ul.nav.navbar-nav.toolbar.pull-right
          li#trigger-toolbar-search.toolbar-icon-bg.visible-xs-block
            a(href='#')
              span.icon-bg
                i.ti.ti-menu
          li.toolbar-icon-bg.hidden-xs
            a(href='#')
              span.icon-bg
                i.ti.ti-world
          li.toolbar-icon-bg.hidden-xs
            a(href='#')
              span.icon-bg
                i.ti.ti-view-grid
          li#trigger-fullscreen.toolbar-icon-bg.hidden-xs
            a.toggle-fullscreen(href='#')
              span.icon-bg
                i.ti.ti-fullscreen
          li.dropdown.toolbar-icon-bg
            a.hasnotifications.dropdown-toggle(href='#', data-toggle='dropdown')
              span.icon-bg
                i.ti.ti-email
              span.badge.badge-deeporange 2
            .dropdown-menu.notifications.arrow
              .topnav-dropdown-header
                span Messages
              .scroll-pane
                ul.media-list.scroll-content
                  li.media.notification-message
                    a(href='#')
                      .media-left
                        img.img-circle.avatar(src='http://placehold.it/300&text=Placeholder', alt='')
                      .media-body
                        h4.notification-heading
                          strong Vincent Keller
                          span.text-gray ‒ Design should be ...
                        span.notification-time 2 mins ago
                  li.media.notification-message
                    a(href='#')
                      .media-left
                        img.img-circle.avatar(src='http://placehold.it/300&text=Placeholder', alt='')
                      .media-body
                        h4.notification-heading
                          strong Frend Pratt
                          span.text-gray ‒ I will start with the ...
                        span.notification-time 40 mins ago
                  li.media.notification-message
                    a(href='#')
                      .media-left
                        img.img-circle.avatar(src='http://placehold.it/300&text=Placeholder', alt='')
                      .media-body
                        h4.notification-heading
                          strong Cynthia Hines
                          span.text-gray ‒ Interior bits are ...
                        span.notification-time 6 hours ago
                  li.media.notification-message
                    a(href='#')
                      .media-left
                        img.img-circle.avatar(src='http://placehold.it/300&text=Placeholder', alt='')
                      .media-body
                        h4.notification-heading
                          strong Robin Horton
                          span.text-gray ‒ Are you even ...
                        span.notification-time 8 days ago
                  li.media.notification-message
                    a(href='#')
                      .media-left
                        img.img-circle.avatar(src='http://placehold.it/300&text=Placeholder', alt='')
                      .media-body
                        h4.notification-heading
                          strong Amanda Torrez
                          span.text-gray ‒ The message is ...
                        span.notification-time 16 hours ago
                  li.media.notification-message
                    a(href='#')
                      .media-left
                        img.img-circle.avatar(src='http://placehold.it/300&text=Placeholder', alt='')
                      .media-body
                        h4.notification-heading
                          strong Khan Farhan
                          span.text-gray ‒ Expected the stuff ...
                        span.notification-time 2 days ago
                  li.media.notification-message
                    a(href='#')
                      .media-left
                        img.img-circle.avatar(src='http://placehold.it/300&text=Placeholder', alt='')
                      .media-body
                        h4.notification-heading
                          strong Will Whedon
                          span.text-gray ‒ The movie of this ...
                        span.notification-time 4 days ago
              .topnav-dropdown-footer
                a(href='#') See all messages
          li.dropdown.toolbar-icon-bg
            a.hasnotifications.dropdown-toggle(href='#', data-toggle='dropdown')
              span.icon-bg
                i.ti.ti-bell
              span.badge.badge-deeporange 2
            .dropdown-menu.notifications.arrow
              .topnav-dropdown-header
                span Notifications
              .scroll-pane
                ul.media-list.scroll-content
                  li.media.notification-success
                    a(href='#')
                      .media-left
                        span.notification-icon
                          i.ti.ti-check
                      .media-body
                        h4.notification-heading Update 1.0.4 successfully pushed
                        span.notification-time 8 mins ago
                  li.media.notification-info
                    a(href='#')
                      .media-left
                        span.notification-icon
                          i.ti.ti-check
                      .media-body
                        h4.notification-heading Update 1.0.3 successfully pushed
                        span.notification-time 24 mins ago
                  li.media.notification-teal
                    a(href='#')
                      .media-left
                        span.notification-icon
                          i.ti.ti-check
                      .media-body
                        h4.notification-heading Update 1.0.2 successfully pushed
                        span.notification-time 16 hours ago
                  li.media.notification-indigo
                    a(href='#')
                      .media-left
                        span.notification-icon
                          i.ti.ti-check
                      .media-body
                        h4.notification-heading Update 1.0.1 successfully pushed
                        span.notification-time 2 days ago
                  li.media.notification-danger
                    a(href='#')
                      .media-left
                        span.notification-icon
                          i.ti.ti-arrow-up
                      .media-body
                        h4.notification-heading Initial Release 1.0
                        span.notification-time 4 days ago
              .topnav-dropdown-footer
                a(href='#') See all notifications
          li.dropdown.toolbar-icon-bg
            a.dropdown-toggle.username(href='#', data-toggle='dropdown')
              img.img-circle(src='http://placehold.it/300&text=Placeholder', alt='')
            ul.dropdown-menu.userinfo.arrow
              li
                a(href='#/')
                  i.ti.ti-user
                  span Profile
                  span.badge.badge-info.pull-right 80%
              li
                a(href='#/')
                  i.ti.ti-panel
                  span Account
              li
                a(href='#/')
                  i.ti.ti-settings
                  span Settings
              li.divider
              li
                a(href='#/')
                  i.ti.ti-stats-up
                  span Earnings
              li
                a(href='#/')
                  i.ti.ti-view-list-alt
                  span Statement
              li
                a(href='#/')
                  i.ti.ti-money
                  span Withdrawals
              li.divider
              li
                a(href='#/')
                  i.ti.ti-shift-right
                  span Sign Out
      nav#headernav.navbar.navbar-inverse(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#horizontal-navbar')
            i.ti.ti-menu
        #horizontal-navbar.collapse.navbar-collapse.large-icons-nav
          ul.nav.navbar-nav.smart-menu
            li.active
              a(href='index.html')
                i.ti.ti-home
                span Dashboard
            li
              a(href='index.html')
                i.ti.ti-layout-grid3
                span Layout
            li
              a(href='index.html')
                i.ti.ti-user
                span Members
            li
              a(href='index.html')
                i.ti.ti-pencil
                span Components
            li.dropdown
              a.dropdown-toggle(href='#')
                i.ti.ti-settings
                span
                  | Settings 
                  i.fa.fa-angle-down
              ul.dropdown-menu
                li
                  a(href='#') Menu Item 1
                li
                  a(href='#') Menu Item 2
                li
                  a(href='#') Menu Item 3
                li
                  a(href='#') Menu Item 4
      .static-content-wrapper
        .static-content
          .page-content
            ol.breadcrumb
              li
                a(href='index.html') Home
              li
                a(href='#') Layout
              li.active
                a(href='layout-horizontal-large.html') Horizontal Nav with Large Icons
            .container-fluid
              div(data-widget-group='group1')
                .row
                  .col-md-12
                    .panel.panel-default(data-widget='{"draggable": "false"}')
                      .panel-heading
                        h2 Excepteur Sint
                        .panel-ctrls(data-actions-container='', data-action-collapse='{"target": ".panel-body"}')
                      .panel-body
                        p.m-n
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            // .container-fluid
          // #page-content
    footer(role='contentinfo')
      .clearfix
        ul.list-unstyled.list-inline.pull-left
          li
            h6(style='margin: 0;') © 2015 Avenxo
        button#back-to-top.pull-right.btn.btn-link.btn-xs.hidden-print
          i.ti.ti-arrow-up
    // Switcher
    .demo-options
      .demo-options-icon
        i.ti.ti-paint-bucket
      .demo-heading Demo Settings
      .demo-body
        .tabular
          .tabular-row
            .tabular-cell Fixed Header
            .tabular-cell.demo-switches
              input.bootstrap-switch(type='checkbox', checked='', data-size='mini', data-on-color='success', data-off-color='default', name='demo-fixedheader', data-on-text=' ', data-off-text=' ')
          .tabular-row
            .tabular-cell Boxed Layout
            .tabular-cell.demo-switches
              input.bootstrap-switch(type='checkbox', data-size='mini', data-on-color='success', data-off-color='default', name='demo-boxedlayout', data-on-text=' ', data-off-text=' ')
          .tabular-row
            .tabular-cell Collapse Leftbar
            .tabular-cell.demo-switches
              input.bootstrap-switch(type='checkbox', data-size='mini', data-on-color='success', data-off-color='default', name='demo-collapseleftbar', data-on-text=' ', data-off-text=' ')
      .demo-body
        .option-title Topnav
        ul#demo-header-color.demo-color-list
          li
            span.demo-cyan
          li
            span.demo-light-blue
          li
            span.demo-blue
          li
            span.demo-indigo
          li
            span.demo-deep-purple
          li
            span.demo-purple
          li
            span.demo-pink
          li
            span.demo-red
          li
            span.demo-teal
          li
            span.demo-green
          li
            span.demo-light-green
          li
            span.demo-lime
          li
            span.demo-yellow
          li
            span.demo-amber
          li
            span.demo-orange
          li
            span.demo-deep-orange
          li
            span.demo-midnightblue
          li
            span.demo-bluegray
          li
            span.demo-bluegraylight
          li
            span.demo-black
          li
            span.demo-gray
          li
            span.demo-graylight
          li
            span.demo-default
          li
            span.demo-brown
      .demo-body
        .option-title Sidebar
        ul#demo-sidebar-color.demo-color-list
          li
            span.demo-cyan
          li
            span.demo-light-blue
          li
            span.demo-blue
          li
            span.demo-indigo
          li
            span.demo-deep-purple
          li
            span.demo-purple
          li
            span.demo-pink
          li
            span.demo-red
          li
            span.demo-teal
          li
            span.demo-green
          li
            span.demo-light-green
          li
            span.demo-lime
          li
            span.demo-yellow
          li
            span.demo-amber
          li
            span.demo-orange
          li
            span.demo-deep-orange
          li
            span.demo-midnightblue
          li
            span.demo-bluegray
          li
            span.demo-bluegraylight
          li
            span.demo-black
          li
            span.demo-gray
          li
            span.demo-graylight
          li
            span.demo-default
          li
            span.demo-brown
    // /Switcher
    // Load site level scripts
    //
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    script(type='text/javascript', src='assets/js/jquery-1.10.2.min.js')
    // Load jQuery
    script(type='text/javascript', src='assets/js/jqueryui-1.10.3.min.js')
    // Load jQueryUI
    script(type='text/javascript', src='assets/js/bootstrap.min.js')
    // Load Bootstrap
    script(type='text/javascript', src='assets/js/enquire.min.js')
    // Load Enquire
    script(type='text/javascript', src='assets/plugins/velocityjs/velocity.min.js')
    // Load Velocity for Animated Content
    script(type='text/javascript', src='assets/plugins/velocityjs/velocity.ui.min.js')
    script(type='text/javascript', src='assets/plugins/wijets/wijets.js')
    // Wijet
    script(type='text/javascript', src='assets/plugins/codeprettifier/prettify.js')
    // Code Prettifier
    script(type='text/javascript', src='assets/plugins/bootstrap-switch/bootstrap-switch.js')
    // Swith/Toggle Button
    script(type='text/javascript', src='assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js')
    // Bootstrap Tabdrop
    script(type='text/javascript', src='assets/plugins/iCheck/icheck.min.js')
    // iCheck
    script(type='text/javascript', src='assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js')
    // nano scroller
    script(type='text/javascript', src='assets/js/application.js')
    script(type='text/javascript', src='assets/demo/demo.js')
    script(type='text/javascript', src='assets/demo/demo-switcher.js')
    // End loading site level scripts
    script(type='text/javascript', src='assets/plugins/smartmenus/jquery.smartmenus.js')
    script(type='text/javascript', src='assets/plugins/smartmenus/addons/bootstrap/jquery.smartmenus.bootstrap.js')
    // Load page level scripts
    // End loading page level scripts
