extends layout

block content
  div(data-widget-group='group2')
    .row
      div.col-md-12
        .panel.panel-default(data-widget='{"draggable": "false"}')
          .panel-heading
            h2 Matheus Rafael.com
            .panel-ctrls(data-actions-container='', data-action-collapse='{"target": ".panel-body"}')
          .panel-body
            #user
              h1.text-center.login-title Welcome #{user}. Check your details below:
                div.signup-wall
                  ul.user-details
                    li Email    ---> #{user}
                  ul
                  a(href='/logout', class='text-center new-account') Sign Out             }

  div(data-widget-group='group3')
    .row
      .col-md-12
        .panel.panel-default(data-widget='{"draggable": "false"}')
          .panel-heading
            h2 Matheus Rafael.com
            .panel-ctrls(data-actions-container='', data-action-collapse='{"target": ".panel-body"}')
          .panel-body
            p.m-n
              a.btn.btn-primary(href='/login') login
            | Vamos começar os trabalhos :P
