doctype html
html(lang='pt-BR')
  head
    meta(charset='utf-8')
    title Void Admin - Matheus Rafael
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-touch-fullscreen', content='yes')
    meta(name='description', content='Void Admin')
    meta(name='author', content='voidp34r')
    link(type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600', rel='stylesheet')
    link(type='text/css', href='assets/fonts/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    // Font Awesome
    link(type='text/css', href='assets/fonts/themify-icons/themify-icons.css', rel='stylesheet')
    // Themify Icons
    link(type='text/css', href='assets/css/styles.css', rel='stylesheet')
    // Core CSS with all styles
    link(type='text/css', href='assets/plugins/codeprettifier/prettify.css', rel='stylesheet')
    // Code Prettifier
    link(type='text/css', href='assets/plugins/iCheck/skins/minimal/blue.css', rel='stylesheet')
    // iCheck
    //if lt IE 10
      script(type='text/javascript', src='assets/js/media.match.min.js')
      script(type='text/javascript', src='assets/js/respond.min.js')
      script(type='text/javascript', src='assets/js/placeholder.min.js')
    // The following CSS are included as plugins and can be removed if unused
    link(type='text/css', href='assets/plugins/fullcalendar/fullcalendar.css', rel='stylesheet')
    // FullCalendar
    link(type='text/css', href='assets/plugins/jvectormap/jquery-jvectormap-2.0.2.css', rel='stylesheet')
    // jVectorMap
    link(type='text/css', href='assets/plugins/switchery/switchery.css', rel='stylesheet')
    // Switchery
  body.animated-content
    header#topnav.navbar.navbar-default.navbar-fixed-top(role='banner')
      .logo-area
        span#trigger-sidebar.toolbar-trigger.toolbar-icon-bg
          a(data-toggle='tooltips', data-placement='right', title='Toggle Sidebar')
            span.icon-bg
              i.ti.ti-menu
        a.navbar-brand(href='index.html') Void P34r
        #toolbar-search.toolbar-icon-bg.hidden-xs
          .input-group
            span.input-group-btn
              button.btn(type='button')
                i.ti.ti-search
            input.form-control(type='text', placeholder='Search...')
            span.input-group-btn
              button.btn(type='button')
                i.ti.ti-close
      // logo-area
      ul.nav.navbar-nav.toolbar.pull-right
        li#trigger-toolbar-search.toolbar-icon-bg.visible-xs-block
          a(href='#')
            span.icon-bg
              i.ti.ti-search
        li.toolbar-icon-bg.hidden-xs
          a(href='#')
            span.icon-bg
              i.ti.ti-world
        li.toolbar-icon-bg.hidden-xs
          a(href='#')
            span.icon-bg
              i.ti.ti-view-grid
        li#trigger-fullscreen.toolbar-icon-bg.hidden-xs
          a.toggle-fullscreen(href='#')
            span.icon-bg
              i.ti.ti-fullscreen
        li.dropdown.toolbar-icon-bg.hidden-xs
          a.hasnotifications.dropdown-toggle(href='#', data-toggle='dropdown')
            span.icon-bg
              i.ti.ti-email
            span.badge.badge-deeporange 2
          .dropdown-menu.notifications.arrow
            .topnav-dropdown-header
              span Mensagens
            .scroll-pane
              ul.media-list.scroll-content
                li.media.notification-message
                  a(href='#')
                    .media-left
                      img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                    .media-body
                      h4.notification-heading
                        strong Void P34r
                        span.text-gray ‒ Impemente deep learning...
                      span.notification-time 2 minutos atrás
                li.media.notification-message
                  a(href='#')
                    .media-left
                      img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                    .media-body
                      h4.notification-heading
                        strong Void P34r
                        span.text-gray ‒ Implemente IA...
                      span.notification-time 40 minutos atrás
                li.media.notification-message
                  a(href='#')
                    .media-left
                      img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                    .media-body
                      h4.notification-heading
                        strong Void P34r
                        span.text-gray ‒ Implemente Machine Learning...
                      span.notification-time 9 horas atrás
                li.media.notification-message
                  a(href='#')
                    .media-left
                      img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                    .media-body
                      h4.notification-heading
                        strong Void P34r
                        span.text-gray ‒ Implemente o AngularJS...
                      span.notification-time 3 dias atrás
                li.media.notification-message
                  a(href='#')
                    .media-left
                      img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                    .media-body
                      h4.notification-heading
                        strong Void P34r
                        span.text-gray ‒ Crie um layout bacana ...
                      span.notification-time 5 dias atrás
                li.media.notification-message
                  a(href='#')
                    .media-left
                      img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                    .media-body
                      h4.notification-heading
                        strong Void P34r
                        span.text-gray ‒ Crie modelo de DB ...
                      span.notification-time 7 dias atrás
                li.media.notification-message
                  a(href='#')
                    .media-left
                      img.img-circle.avatar(src='/images/user_160x160.jpg', alt='')
                    .media-body
                      h4.notification-heading
                        strong Void P34r
                        span.text-gray ‒ Idéia pra projeto novo...
                      span.notification-time 8 dias atrás
            .topnav-dropdown-footer
              a(href='#') Todas as mensagens
        li.dropdown.toolbar-icon-bg
          a.hasnotifications.dropdown-toggle(href='#', data-toggle='dropdown')
            span.icon-bg
              i.ti.ti-bell
            span.badge.badge-deeporange 2
          .dropdown-menu.notifications.arrow
            .topnav-dropdown-header
              span Notificações
            .scroll-pane
              ul.media-list.scroll-content
                li.media.notification-success
                  a(href='#')
                    .media-left
                      span.notification-icon
                        i.ti.ti-check
                    .media-body
                      h4.notification-heading Implementar AngularJS
                      span.notification-time 8 minutos atrás
                li.media.notification-info
                  a(href='#')
                    .media-left
                      span.notification-icon
                        i.ti.ti-check
                    .media-body
                      h4.notification-heading Criar modelos de layout
                      span.notification-time 3 dias atrás
                li.media.notification-teal
                  a(href='#')
                    .media-left
                      span.notification-icon
                        i.ti.ti-check
                    .media-body
                      h4.notification-heading Criar modelos de banco de dados
                      span.notification-time 5 dias atrás
                li.media.notification-indigo
                  a(href='#')
                    .media-left
                      span.notification-icon
                        i.ti.ti-check
                    .media-body
                      h4.notification-heading Criar ambiente de desenvolvimento
                      span.notification-time 7 dias atrás
                li.media.notification-danger
                  a(href='#')
                    .media-left
                      span.notification-icon
                        i.ti.ti-arrow-up
                    .media-body
                      h4.notification-heading Iniciação de Projeto beta 1.0
                      span.notification-time 8 dias atrás
            .topnav-dropdown-footer
              a(href='#') Todas Notificações
        li.dropdown.toolbar-icon-bg
          a.dropdown-toggle.username(href='#', data-toggle='dropdown')
            img.img-circle(src='/images/user_160x160.jpg', alt='')
          ul.dropdown-menu.userinfo.arrow
            li
              a(href='#/')
                i.ti.ti-user
                span Perfil
                span.badge.badge-info.pull-right 80%
            li
              a(href='#/')
                i.ti.ti-panel
                span Conta
            li
              a(href='#/')
                i.ti.ti-settings
                span Configurações
            li.divider
            //- li
            //-   a(href='#/')
            //-     i.ti.ti-stats-up
            //-     span Earnings
            //- li
            //-   a(href='#/')
            //-     i.ti.ti-view-list-alt
            //-     span Statement
            //- li
            //-   a(href='#/')
            //-     i.ti.ti-money
            //-     span Withdrawals
            li.divider
            li
              a(href='/logout')
                i.ti.ti-shift-right
                span Sair :P
    #wrapper
      #layout-static
        block content
    // Switcher
    //- .demo-options
    //-   .demo-options-icon
    //-     i.ti.ti-paint-bucket
    //-   .demo-heading Configurações
    //-   .demo-body
    //-     .tabular
    //-       .tabular-row
    //-         .tabular-cell Fixed Header
    //-         .tabular-cell.demo-switches
    //-           input.bootstrap-switch(type='checkbox', checked='', data-size='mini', data-on-color='success', data-off-color='default', name='demo-fixedheader', data-on-text=' ', data-off-text=' ')
    //-       .tabular-row
    //-         .tabular-cell Boxed Layout
    //-         .tabular-cell.demo-switches
    //-           input.bootstrap-switch(type='checkbox', data-size='mini', data-on-color='success', data-off-color='default', name='demo-boxedlayout', data-on-text=' ', data-off-text=' ')
    //-       .tabular-row
    //-         .tabular-cell Collapse Leftbar
    //-         .tabular-cell.demo-switches
    //-           input.bootstrap-switch(type='checkbox', data-size='mini', data-on-color='success', data-off-color='default', name='demo-collapseleftbar', data-on-text=' ', data-off-text=' ')
    //-   .demo-body
    //-     .option-title Topnav
    //-     ul#demo-header-color.demo-color-list
    //-       li
    //-         span.demo-cyan
    //-       li
    //-         span.demo-light-blue
    //-       li
    //-         span.demo-blue
    //-       li
    //-         span.demo-indigo
    //-       li
    //-         span.demo-deep-purple
    //-       li
    //-         span.demo-purple
    //-       li
    //-         span.demo-pink
    //-       li
    //-         span.demo-red
    //-       li
    //-         span.demo-teal
    //-       li
    //-         span.demo-green
    //-       li
    //-         span.demo-light-green
    //-       li
    //-         span.demo-lime
    //-       li
    //-         span.demo-yellow
    //-       li
    //-         span.demo-amber
    //-       li
    //-         span.demo-orange
    //-       li
    //-         span.demo-deep-orange
    //-       li
    //-         span.demo-midnightblue
    //-       li
    //-         span.demo-bluegray
    //-       li
    //-         span.demo-bluegraylight
    //-       li
    //-         span.demo-black
    //-       li
    //-         span.demo-gray
    //-       li
    //-         span.demo-graylight
    //-       li
    //-         span.demo-default
    //-       li
    //-         span.demo-brown
    //-   .demo-body
    //-     .option-title Sidebar
    //-     ul#demo-sidebar-color.demo-color-list
    //-       li
    //-         span.demo-cyan
    //-       li
    //-         span.demo-light-blue
    //-       li
    //-         span.demo-blue
    //-       li
    //-         span.demo-indigo
    //-       li
    //-         span.demo-deep-purple
    //-       li
    //-         span.demo-purple
    //-       li
    //-         span.demo-pink
    //-       li
    //-         span.demo-red
    //-       li
    //-         span.demo-teal
    //-       li
    //-         span.demo-green
    //-       li
    //-         span.demo-light-green
    //-       li
    //-         span.demo-lime
    //-       li
    //-         span.demo-yellow
    //-       li
    //-         span.demo-amber
    //-       li
    //-         span.demo-orange
    //-       li
    //-         span.demo-deep-orange
    //-       li
    //-         span.demo-midnightblue
    //-       li
    //-         span.demo-bluegray
    //-       li
    //-         span.demo-bluegraylight
    //-       li
    //-         span.demo-black
    //-       li
    //-         span.demo-gray
    //-       li
    //-         span.demo-graylight
    //-       li
    //-         span.demo-default
    //-       li
    //-         span.demo-brown
    // /Switcher
    // Load site level scripts
    //
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    script(type='text/javascript', src='assets/js/jquery-1.10.2.min.js')
    // Load jQuery
    script(type='text/javascript', src='assets/js/jqueryui-1.10.3.min.js')
    // Load jQueryUI
    script(type='text/javascript', src='assets/js/bootstrap.min.js')
    // Load Bootstrap
    script(type='text/javascript', src='assets/js/enquire.min.js')
    // Load Enquire
    script(type='text/javascript', src='assets/plugins/velocityjs/velocity.min.js')
    // Load Velocity for Animated Content
    script(type='text/javascript', src='assets/plugins/velocityjs/velocity.ui.min.js')
    script(type='text/javascript', src='assets/plugins/wijets/wijets.js')
    // Wijet
    script(type='text/javascript', src='assets/plugins/codeprettifier/prettify.js')
    // Code Prettifier
    script(type='text/javascript', src='assets/plugins/bootstrap-switch/bootstrap-switch.js')
    // Swith/Toggle Button
    script(type='text/javascript', src='assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js')
    // Bootstrap Tabdrop
    script(type='text/javascript', src='assets/plugins/iCheck/icheck.min.js')
    // iCheck
    script(type='text/javascript', src='assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js')
    // nano scroller
    script(type='text/javascript', src='assets/js/application.js')
    script(type='text/javascript', src='assets/demo/demo.js')
    script(type='text/javascript', src='assets/demo/demo-switcher.js')
    // End loading site level scripts
    // Load page level scripts
    // Charts
    script(type='text/javascript', src='assets/plugins/charts-flot/jquery.flot.min.js')
    // Flot Main File
    script(type='text/javascript', src='assets/plugins/charts-flot/jquery.flot.pie.min.js')
    // Flot Pie Chart Plugin
    script(type='text/javascript', src='assets/plugins/charts-flot/jquery.flot.stack.min.js')
    // Flot Stacked Charts Plugin
    script(type='text/javascript', src='assets/plugins/charts-flot/jquery.flot.orderBars.min.js')
    // Flot Ordered Bars Plugin
    script(type='text/javascript', src='assets/plugins/charts-flot/jquery.flot.resize.min.js')
    // Flot Responsive
    script(type='text/javascript', src='assets/plugins/charts-flot/jquery.flot.tooltip.min.js')
    // Flot Tooltips
    script(type='text/javascript', src='assets/plugins/charts-flot/jquery.flot.spline.js')
    // Flot Curved Lines
    script(type='text/javascript', src='assets/plugins/sparklines/jquery.sparklines.min.js')
    // Sparkline
    script(type='text/javascript', src='assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js')
    // jVectorMap
    script(type='text/javascript', src='assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')
    // jVectorMap
    script(type='text/javascript', src='assets/plugins/switchery/switchery.js')
    // Switchery
    script(type='text/javascript', src='assets/plugins/easypiechart/jquery.easypiechart.js')
    script(type='text/javascript', src='assets/plugins/fullcalendar/moment.min.js')
    // Moment.js Dependency
    script(type='text/javascript', src='assets/plugins/fullcalendar/fullcalendar.min.js')
    // Calendar Plugin
    script(type='text/javascript', src='assets/demo/demo-index.js')
    // Initialize scripts for this page
    // End loading page level scripts
