doctype html
html(lang='pt-BR')
  head
    include ./partials/head
    
  body.animated-content(ng-app='ng-void-app')
    include ./partials/header
    
    #wrapper
      block content
    include ./partials/scripts