.static-sidebar-wrapper.sidebar-default
      .static-sidebar
        .sidebar
          .widget
            .widget-body
              .userinfo
                .avatar
                  img.img-responsive.img-circle(src='/images/user_160x160.jpg')
                .info
                  span.username Matheus Rafael
                  p
                    span.useremail matheus@matheusr.com
          if (user)
            #widget-sidebar.widget.stay-on-collapse
              nav.widget-body(role='navigation')
                ul.acc-menu
                  li.nav-separator
                    span Explore
                  li
                    a(href='index.html')
                      i.ti.ti-home
                      span Dashboard
                      span.badge.badge-teal 2
                  li
                    a(href='angular/app/')
                      i.ti.ti-shield
                      span AngularJS
                  li
                    a(href='javascript:;')
                      i.ti.ti-layout
                      span Layout
                    ul.acc-menu
                      li
                        a(href='layout-grids.html') Grid Scaffolding
                      li
                        a(href='layout-static-leftbar.html') Static Sidebar
                      li
                        a(href='layout-sidebar-scroll.html') Scroll Sidebar
                      li
                        a(href='layout-horizontal.html') Horizontal Nav
                      li
                        a(href='layout-boxed.html') Boxed
                  li
                    a(href='javascript:;')
                      i.ti.ti-view-list-alt
                      span UI Kit
                    ul.acc-menu
                      li
                        a(href='ui-typography.html') Typography
                      li
                        a(href='ui-buttons.html') Buttons
                      li
                        a(href='ui-modals.html') Modal
                      li
                        a(href='ui-progress.html') Progress
                      li
                        a(href='ui-paginations.html') Paginations
                      li
                        a(href='ui-breadcrumbs.html') Breadcrumbs
                      li
                        a(href='ui-labelsbadges.html') Labels & Badges
                      li
                        a(href='ui-alerts.html') Alerts
                      li
                        a(href='ui-tabs.html') Tabs
                      li
                        a(href='ui-wells.html') Wells
                      li
                        a(href='ui-icons-fontawesome.html') FontAwesome Icons
                      li
                        a(href='ui-icons-themify.html') Themify Icons
                      li
                        a(href='ui-helpers.html') Helpers
                      li
                        a(href='ui-imagecarousel.html') Images & Carousel
                  li
                    a(href='javascript:;')
                      i.ti.ti-control-shuffle
                      span Components
                    ul.acc-menu
                      li
                        a(href='ui-tiles.html') Tiles
                      li
                        a(href='custom-skylo.html') Page Progress
                      li
                        a(href='custom-bootbox.html') Bootbox
                      li
                        a(href='custom-pines.html') Pines Notification
                      li
                        a(href='custom-pulsate.html') Pulsate
                      li
                        a(href='custom-knob.html') jQuery Knob
                      li
                        a(href='custom-ionrange.html') Ion Range Slider
                  li
                    a(href='javascript:;')
                      i.ti.ti-pencil
                      span Forms
                    ul.acc-menu
                      li
                        a(href='ui-forms.html') Form Layout
                      li
                        a(href='form-components.html') Form Components
                      li
                        a(href='form-pickers.html') Pickers
                      li
                        a(href='form-wizard.html') Form Wizard
                      li
                        a(href='form-validation.html') Form Validation
                      li
                        a(href='form-masks.html') Form Masks
                      li
                        a(href='form-dropzone.html') Dropzone Uploader
                      li
                        a(href='form-summernote.html') Summernote
                      li
                        a(href='form-markdown.html') Markdown Editor
                      li
                        a(href='form-xeditable.html') Inline Editor
                      li
                        a(href='form-gridforms.html') Grid Forms
                  li
                    a(href='javascript:;')
                      i.ti.ti-settings
                      span Panels
                    ul.acc-menu
                      li
                        a(href='ui-panels.html') Panels
                      li
                        a(href='ui-advancedpanels.html') Draggable Panels
                  li
                    a(href='javascript:;')
                      i.ti.ti-layout-grid3
                      span Tables
                    ul.acc-menu
                      li
                        a(href='ui-tables.html') Basic Tables
                      li
                        a(href='tables-responsive.html') Responsive Tables
                      li
                        a(href='tables-editable.html') Editable Tables
                      li
                        a(href='tables-data.html') Data Tables
                      li
                        a(href='tables-fixedheader.html') Fixed Header Tables
                  li
                    a(href='javascript:;')
                      i.ti.ti-stats-up
                      span Analytics
                    ul.acc-menu
                      li
                        a(href='charts-flot.html') Flot
                      li
                        a(href='charts-sparklines.html') Sparklines
                      li
                        a(href='charts-morris.html') Morris.js
                      li
                        a(href='charts-easypiechart.html') Easy Pie Chart
                  li
                    a(href='javascript:;')
                      i.ti.ti-map-alt
                      span Maps
                    ul.acc-menu
                      li
                        a(href='maps-google.html') Google Maps
                      li
                        a(href='maps-jvectormap.html') jVectorMap
                      li
                        a(href='maps-mapael.html') Mapael
                  li
                    a(href='javascript:;')
                      i.ti.ti-file
                      span Pages
                    ul.acc-menu
                      li
                        a(href='extras-profile.html') Profile
                      li
                        a(href='extras-invoice.html') Invoice
                      li
                        a(href='javascript:;') Email Templates
                        ul.acc-menu
                          li
                            a(href='responsive-email/basic.html') Basic
                          li
                            a(href='responsive-email/hero.html') Hero
                          li
                            a(href='responsive-email/sidebar.html') Sidebar
                          li
                            a(href='responsive-email/sidebar-hero.html') Sidebar Hero
                      li
                        a(href='coming-soon.html') Coming Soon
                      li
                        a(href='extras-faq.html') FAQ
                      li
                        a(href='extras-registration.html') Registration
                      li
                        a(href='extras-forgotpassword.html') Password Reset
                      li
                        a(href='extras-login.html') Login
                      li
                        a(href='extras-404.html') 404 Page
                      li
                        a(href='extras-500.html') 500 Page
                  li.nav-separator
                    span Extras
                  li
                    a(href='app-inbox.html')
                      i.ti.ti-email
                      span Inbox
                      span.badge.badge-danger 3
                  li
                    a(href='extras-calendar.html')
                      i.ti.ti-calendar
                      span Calendar
                      span.badge.badge-orange 1
            #widget-progress.widget
              .widget-heading
                | Progress
              .widget-body
                .mini-progressbar
                  .clearfix.mb-sm
                    .pull-left Bandwidth
                    .pull-right 50%
                  .progress
                    .progress-bar.progress-bar-lime(style='width: 50%')
                .mini-progressbar
                  .clearfix.mb-sm
                    .pull-left Storage
                    .pull-right 25%
                  .progress
                    .progress-bar.progress-bar-info(style='width: 25%')