extends layout

block content
  div(data-widget-group='group3')
    .row
      .col-md-12
        .panel.panel-default(data-widget='{"draggable": "false"}')
          .panel-heading
            h2 Matheus Rafael.com
            .panel-ctrls(data-actions-container='', data-action-collapse='{"target": ".panel-body"}')
          .panel-body
            p.m-n
              a.btn.btn-primary(href='/login') login
            | admin :P
